# Ignore Minecraft files/folders
level.dat
logs/
config/
.mixin.out
crash-reports/
quiltloader.log
fabricloader.log
.cache

# Ignore the Python execution directory
python*/
__pycache__/

# Ignore application files/folders
.MiniCube/

settings.json
accounts.json
.salt

GameFile/
Data/
Meta/
Logs/